{% load static %}
<!-- ***** Header ***** -->
<header class="header-area">
    <div class="container-fluid p-0">
        <nav class="main-nav">
            <a href="" class="logo">
                <img src="{% static 'images/logo-header.png' %}" class="logo-img" alt="Body Strong Logo"
                    style="width: 70px;">
                <span class="logo-text">BODY<em> STRONG</em></span>
            </a>

            <!-- Menú -->
            <ul class="nav-links">
                <li><a href="#top" class="nav-link active">INICIO</a></li>
                <li><a href="#sobreNosotros" class="nav-link">SOBRE NOSOTROS</a></li>
                <li><a href="#our-classes" class="nav-link">MEMBRESIAS</a></li>
                <li><a href="#horarios" class="nav-link">HORARIOS</a></li>
                <li><a href="#contact-us" class="nav-link">CONTACTO</a></li>
                <li><a href="#Inscripcion" class="nav-button">INSCRIBITE</a></li>
            </ul>

            <!-- Menú Hamburguesa -->
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </div>
</header>
<!-- ***** Header End ***** -->

